*{

  margin-bottom: 0px;
}

  body {font-family: sans-serif; 
    font-size: 14px;
  background-image: url(./60fad4fa58d8910eb2ce09d1_Cover-Pastel-Thumbnail-1-2.png);
  background-size: 100%;
  
  }

  #navlist { padding: 1px 0px;
  border-bottom: 1px solid #778;
  font: bold 16px Verdana, sans-serif; 
  text-align: right;

  
  margin-bottom: 1px;
}
  
  #navlist li { list-style: none; 
    display: inline; 
    margin-left:30px;}
  
  #navlist li a { padding: 3px 1em;
  border: 1px solid #e8c39e; border-bottom-style: double;
  background: #DDE; text-decoration: none; }
  
  #navlist li a:link { color: #2f2c79; }
  #navlist li a:hover {color: #000; background: #AAE; border-color: #227; }
  #navlist li a#current { background: #AAE; }

  #lista1 li{
    display:inline;
    padding: 0px 0px 0px 50px;
    margin: 0px;
    font-size: 24px;
    font-family: 'Courgette', cursive;
   
  }

  .proyectos li{
    display:inline;
    padding: 0px 0px 0px 50px;
    font-family: 'Courgette', cursive;
   margin: 0%;
  }

  #proyectos{
    padding: 0px 0px 0px 50px;
    border: 0px;
    margin: 0%
 
   ;
  }

  h1{
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 40px;
  }

  p{
    font-family: 'Courgette', cursive;
   font-size: 25px;
      
  }

  .proyectos{
    font-size: 23px;
  }

  .semititulo{
    font-size: 30px;
  }

